/*body{
    color: slategrey;
}*/
html{
    
    background-color:#c0d8ee;
    
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#start
{
    text-align: center;
}
pre
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#c
{
    background-color: #eaf1f8;
    font-family: Caveat,sans-serif;
    font-weight: 550;
}
body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular',sans-serif;
    background-color: #d9e5f1;
}
#contact{
    font-family: 'Lucida Sans', 'Lucida Sans Regular',sans-serif;
    font-size: 20px;
    font-weight: 550;
    background-color: #eaf1f8;

}
#L1
{
    margin-bottom: -10px;
    margin-left: 1px;
    margin-top: -20px;
    
}
#quote
{
    font-family: cursive,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 550;
    /*color: #0f0f0f;*/
    color: #000000;
}
#quote-marks
{
    font-family:'Arial Narrow', Arial, sans-serif;
    font-size: -5px;
    font-weight: 550;
    color: #ff7c01;
}



footer
{
background-color:#ebe6e6 ;
text-align: center;
}


